body {
  background-color: rgb(234, 157, 24);
  font: 400 1.25em/1.38 'Trebuchet MS';
  color: rgb(18, 18, 18);
}

.container {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.container .container {
  height: 1743px;
  margin-top: -1785px;
}

.element {
  background-size: cover;
  background-position: center center;
}

.text-9 p {
  margin-bottom: 1em;
}

._input {
  display: block;
  position: relative;
  float: left;
  z-index: 5;
  width: 24.25%;
  height: 40px;
  margin: 50px 0 0 5.9375%;
  padding: 0 10px;
  background-color: rgb(255, 255, 255);
  font-family: Helvetica;
  font-size: 0.65em;
  color: rgb(157, 157, 157);
}

._input:focus {
  color: rgb(18, 18, 18);
}

.container-1 {
  height: 292px;
  background-color: rgb(45, 45, 45);
}

.container-2 {
  height: 265px;
  margin-top: 1797px;
  background-color: rgb(45, 45, 45);
}

.element-1 {
  position: relative;
  float: left;
  z-index: 4;
  width: 39.625%;
  height: 176px;
  margin: 50px 0 0 30.1875%;
  background-image: url('../images/Gravity_Falls_logo.svg.png');
  background-color: rgba(222, 222, 222, 0);
}

.element-2 {
  width: 71.125%;
  height: 326px;
  margin: 0 auto;
  background-image: url('../images/graav999(2).jpg');
  background-color: rgb(222, 222, 222);
}

.element-3 {
  width: 71.125%;
  height: 326px;
  margin: 39px auto 0;
  background-image: url('../images/gravit568.jpg');
  background-color: rgb(222, 222, 222);
}

.element-4 {
  position: relative;
  float: left;
  clear: both;
  z-index: 12;
  width: 11.5%;
  height: 82px;
  margin-left: 66.5%;
  border-radius: 15px;
  background-image: url('../images/instagram.png');
  background-color: rgba(222, 222, 222, 0);
}

.element-4:hover {
  background-color: rgb(133, 107, 63);
}

.element-4:active {
  background-color: rgb(110, 69, 0);
}

.element-5 {
  position: relative;
  float: left;
  z-index: 11;
  width: 11%;
  height: 82px;
  border-radius: 15px;
  background-image: url('../images/facebook.png');
  background-color: rgba(222, 222, 222, 0);
}

.element-5:hover {
  background-color: rgb(85, 138, 255);
}

.element-5:active {
  background-color: rgb(0, 71, 225);
}

.element-6 {
  position: relative;
  float: left;
  z-index: 10;
  width: 11%;
  height: 82px;
  border-radius: 15px;
  background-image: url('../images/youtube.png');
  background-color: rgba(222, 222, 222, 0);
}

.element-6:hover,
.text-4:hover,
.text-5:hover,
.text-6:hover,
.text-7:hover {
  background-color: rgb(255, 108, 108);
}

.element-6:active {
  background-color: rgb(189, 43, 43);
}

.text-1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 7;
  margin: -96px 0 0 69.0625%;
  font-family: Helvetica;
  font-size: 0.8em;
  color: rgb(157, 157, 157);
}

.text-10 {
  float: right;
  clear: both;
  margin: 176px 0.5% 0 0;
  font-size: 0.8em;
  color: rgb(255, 161, 0);
}

.text-2 {
  position: relative;
  float: left;
  z-index: 6;
  margin: -96px 0 0 74.0625%;
  font-family: Helvetica;
  font-size: 0.8em;
  color: rgb(157, 157, 157);
}

.text-3 {
  position: relative;
  float: left;
  z-index: 8;
  margin: -96px 0 0 87.75%;
  font-family: Helvetica;
  font-size: 0.8em;
  color: rgb(157, 157, 157);
}

.text-1:hover,
.text-3:hover {
  color: rgb(255, 108, 108);
}

.text-1:active,
.text-3:active {
  color: rgb(189, 43, 43);
}

.text-4 {
  float: left;
  width: 24.25%;
  min-height: 59px;
  margin-top: 7px;
  padding: 15px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30px;
  background-color: rgb(235, 203, 35);
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: rgb(18, 18, 18);
}

.text-5 {
  position: relative;
  float: left;
  z-index: 3;
  width: 27.25%;
  min-height: 59px;
  margin-top: 7px;
  padding: 15px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30px;
  background-color: rgb(234, 157, 24);
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: rgb(18, 18, 18);
}

.text-6 {
  position: relative;
  float: left;
  z-index: 0;
  width: 24.25%;
  min-height: 59px;
  margin-top: 7px;
  padding: 15px;
  border-radius: 30px;
  background-color: rgb(235, 203, 35);
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: rgb(18, 18, 18);
}

.text-7 {
  position: relative;
  float: left;
  z-index: 1;
  width: 24.25%;
  min-height: 59px;
  margin-top: 7px;
  padding: 15px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30px;
  background-color: rgb(235, 203, 35);
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: rgb(18, 18, 18);
}

.text-4:active,
.text-5:active,
.text-6:active,
.text-7:active {
  background-color: rgb(131, 0, 28);
}

.text-8 {
  width: 51.125%;
  min-height: 76px;
  margin: 0 auto;
  font-size: 2.5em;
  text-align: center;
  color: rgb(18, 18, 18);
}

.text-9 {
  width: 100%;
  margin: 24px auto 0;
  font-size: 1em;
  color: rgb(18, 18, 18);
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}