body {
  background-color: rgb(189, 43, 43);
  font: 400 1em/1.38 Helvetica;
  color: rgb(255, 248, 248);
}

.container {
  position: relative;
  width: 716px;
  height: 672px;
  margin: 46px auto 0;
}

.element {
  position: relative;
  float: left;
  z-index: 0;
  width: 716px;
  height: 623px;
  margin-top: 28px;
  background-color: rgba(222, 222, 222, 0.12);
}

.text {
  color: rgb(255, 248, 248);
}

.text-1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  width: 94.1340782122%;
  min-height: 187px;
  margin: -601px 0 0 2.93078%;
  font-size: 1em;
}

.text-2 {
  position: absolute;
  top: 477px;
  left: 0;
  right: 0;
  z-index: 3;
  width: 89.1061452513%;
  min-height: 122.5px;
  margin: 0 auto;
  font-size: 5em;
  text-align: center;
}

.text-3 {
  position: absolute;
  top: 316px;
  left: 0;
  right: 0;
  z-index: 2;
  width: 91.8994413407%;
  min-height: 283px;
  margin: 0 auto;
  font-size: 1em;
}